.register-form {
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 750px;
  height: 445px;

  background-image: url("../../assets//images/registerBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__floating-tag {
    position: absolute;
    top: 17px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 350px;
    height: 80px;

    background-image: url("../../assets/images/registerFloatingLayer.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    font-size: 24px;
    font-family: "SFProDisplay";
    color: rgb(255, 101, 17);
    text-transform: uppercase;
    line-height: 3.5;
    font-weight: 700;
  }

  &__user-input {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 506px;
    height: 60px;

    padding-right: 5px;

    background-image: url("../../assets/images/inputLayer.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    input {
      width: 450px;
      height: 45px;

      margin-bottom: 5px;

      border-radius: 30px;

      background: #000000;

      font-size: 19px;
      font-family: "SFProDisplay";
      color: rgb(205, 204, 204);
      line-height: 1.2;
      text-align: center;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 19px;
        font-family: "SFProDisplay";
        color: rgb(205, 204, 204);
        line-height: 1.2;
        text-align: center;
      }
    }

    img {
      position: absolute;
      top: 15px;
      left: 23px;
    }
  }

  &__password-input {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 506px;
    height: 60px;

    padding-right: 5px;

    background-image: url("../../assets/images/inputLayer.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    input {
      width: 450px;
      height: 45px;

      margin-bottom: 5px;

      border-radius: 30px;

      background: #000000;

      font-size: 19px;
      font-family: "SFProDisplay";
      color: rgb(205, 204, 204);
      line-height: 1.2;
      text-align: center;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 19px;
        font-family: "SFProDisplay";
        color: rgb(205, 204, 204);
        line-height: 1.2;
        text-align: center;
      }
    }

    img {
      position: absolute;
      top: 15px;
      left: 23px;
    }
  }

  &__capcha-input {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 506px;
    height: 60px;

    padding-right: 5px;

    background-image: url("../../assets/images/inputLayer.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    input {
      width: 450px;
      height: 45px;

      margin-bottom: 5px;

      border-radius: 30px;

      background: #000000;

      font-size: 19px;
      font-family: "SFProDisplay";
      color: rgb(205, 204, 204);
      line-height: 1.2;
      text-align: center;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 19px;
        font-family: "SFProDisplay";
        color: rgb(205, 204, 204);
        line-height: 1.2;
        text-align: center;
      }
    }

    img {
      position: absolute;
      top: 17px;
      left: 15px;
    }
  }

  &__input-icon{
    position: absolute;
    top: 17px;
    right: 20px;

    cursor: pointer;
  }

  &__button {
    position: absolute;
    bottom: -40px;

    cursor: pointer;
  }

  &__note {
    position: absolute;
    bottom: -100px;

    cursor: pointer;
  }
}
